.navbar{
    width: 100vw;
    height: 90px;
    background-color: #F8F8F8;
    border-bottom: 4px solid #8E7CC3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.logoImg{
    height: 85%;
}

.theme-change-button{
    height: 50px;
    width: 100px;
    border: 4px solid #8E7CC3;
    border-radius: 10px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
}

.circle{
    height: 25px;
    width: 25px;
    background-color: #8E7CC3;
    border-radius: 60px;
    margin-left: 8px;
}

