.questionsOutOf{
    font-size: 2vw;
    margin-top: 30px;
}

.question{
    font-size: 3vw;
    font-weight: 900;
    margin: 30px;
}

.optionWhitePart{
    font-size: 1vw;
    width: 23vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.optionPurplePart{
    width: 23vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: -60px;
    margin-left: 10px;
}

.opBlock{
    display: flex;
    width: 52vw;
    justify-content: space-between;
    margin-top: 30px;
}

.highlightArea{
    margin-top: 30px;
}

.high{
    margin: 20px 20px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    border: none;
    font-size: 1vw;
    font-weight: 800;
}