.finalResult{
    font-weight: 700;
    font-size: 4.5vw;
}

.whiteBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.correct{
    font-size: 2.2vw;
    font-weight: 600;
    color: #9282C1;
}

.re{
    width: 25vw;
    height: 100px;
}

.restart1{
    z-index: 5;
    background-color:#B6A8E1 ;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9282C1;
    position: relative;
    color: #635394;
    font-size: 2vw;
    font-weight: 600;
}

.restart2{
    background-color: #65529C;
    position: absolute;
    z-index:1;
    margin-top: -80px;
    margin-left: 17px;
}

.restartArea:hover{
    cursor: pointer;
}